# / в начале - идем от корня репо
# без / - будет искать все папки репозитория на любом уровне вложенности
.idea/
.vs/
# bin/ и **/bin вроде как одно и то же - игнорим все папки bin в репо
bin/
obj/
Couse.Server.sln.DotSettings.user
